@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

$fg: #f6f2ff;
$main-bg: #eef6ff;
$footer-bg: #0d0d0e;
$routebg: #0a0908;
$up: #5dfdcb;
$err: #cc5a71;
$footer-title: #9999ff;

$fredoka: "Fredoka One", cursive;
$baloo: "Baloo Da 2", cursive;
$cutive: "Cutive Mono", monospace;
$gugi: "Gugi", cursive;

body {
  background-image: url(../img/snowmountain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $fg;
  font-family: $baloo;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
  .header {
    #time {
      display: block;
      font-size: 2em;
      text-align: right;
      padding: 0 0.5em;
    }
  }
  .main {
    height: 100%;
    .main-header {
      font-size: 5em;
      width: 100%;
      min-width: 340px;
      font-family: $gugi;
      margin: 0;
      text-align: center;
    }
    .routes {
      position: absolute;
      list-style: none;
      padding: 0;
      width: 25em;
      margin: auto;
      left: 50%;
      top: 25%;
      transform: translateX(-50%);
      :not(.route:first-of-type) {
        margin-top: 0.5em;
      }
      .route {
        background-color: $fg;
        font-size: 1.5em;
        margin-top: 0.3em;
        width: 100%;
        a {
          color: #000;
          display: block;
          line-height: 100%;
          text-decoration: none;
          padding: 0.6em;
          width: 100%;
        }
        &:hover {
          background-color: $routebg;
          a {
            color: $fg;
          }
        }
      }
    }
    .fastlinks {
      position: absolute;
      width: 60%;
      left: 50%;
      bottom: 20%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      transform: translateX(-50%);
      text-align: center;
      padding: 0;
      .link {
        list-style-type: none;
        a {
          color: $fg;
          font-size: 1.3em;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .sysinfo {
    background-color: $footer-bg;
    bottom: 0;
    position: absolute;
    text-align: right;
    width: 100%;
    .part {
      border-left: 1px solid rgb(99, 99, 99);
      padding: 0 0.4em;
      b {
        color: $footer-title;
      }
    }
    .green {
      color: $up;
    }
    .red {
      color: $err;
    }
  }
}

@media only screen and (max-width: 540px) {
  body .main .routes {
    width: 80%;
  }
}

@media only screen and (max-width: 832px) {
  .os,
  .cpu,
  .mem {
    display: none;
    width: 0;
    height: 0;
  }
  body .main .fastlinks {
    display: none;
    height: 0;
    width: 0;
  }
}
