@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");

$bg: #13131b;
$cbg: rgba(36, 42, 51, 0.9);
$cinfobg: #baffdf;
$st: #39d2ed;
$fg: #f6f2ff;
$up: #5dfdcb;
$err: #cc5a71;

$baloo: "Baloo Da 2", cursive;
$fredoka: "Fredoka One", cursive;

body {
  background-color: $bg;
  color: $fg;
  font-family: $baloo;
  margin: 0;
  padding: 0;
  width: 100vw;
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4em;
    h1 {
      margin: 0;
      padding: 0 1em;
    }
    #time {
      font-size: 2em;
      justify-self: right;
      padding: 0 1em;
    }
  }
  .main {
    background-color: $cbg;
    border: 3px solid #000;
    height: 60vh;
    margin: auto;
    padding: 1em;
    width: 50%;
    .main-header {
      text-align: center;
      span {
        color: $st;
        font-size: 2em;
      }
    }
    .routes {
      list-style: none;
      .route {
        font-size: 1.5em;
        a {
          border-left-width: 2px;
          border-left-style: solid;
          border-left-color: transparent;
          color: $fg;
          cursor: pointer;
          display: block;
          margin-top: 0.3em;
          padding-left: 0.4em;
          text-decoration: none;
          &:hover {
            border-color: $st;
            color: $st;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .sysinfo {
    background-color: #000;
    bottom: 0;
    position: absolute;
    text-align: right;
    width: 100%;
    .part {
      border-left: 1px solid rgb(99, 99, 99);
      padding: 0 0.4em;
    }
    .green {
      color: $up;
    }
    .red {
      color: $err;
    }
  }
}
